# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\sam_2\Documents\PBA Toegepaste Informatica\2TI\OOO\labo4\BankMetJavaKlassa\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
